<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form (ngSubmit)="callmessage()" #msgForm="ngForm">
      <div class="input-group">
          <input type="text" [(ngModel)]="inputMsg" name="message" placeholder="Type your message here..." required="" />
          <span>
              <button id="btn-chat"> Send </button>
          </span>
      </div>
    </form>
    <ul class="chat">
        <li *ngFor="let msg of messageBlock">
          <p>{{ msg }}</p>
        </li>
    </ul>
</div>